 /* Estilos generales */
 html, body {
  height: auto;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
}

.gimnasios-list {
  margin-top: 20px;
}

/* Estilos para los botones */
button.mat-raised-button {
  background-color: #5cb85c; /* Verde */
  color: #fff;
  margin-bottom: 20px;
}

button.mat-raised-button:hover {
  background-color: #4cae4c; /* Verde más oscuro */
}

/* Estilos para la fila de gimnasios */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos para cada columna de gimnasio */
.col-md-4 {
  flex: 0 0 calc(33.3333% - 20px);
  margin-bottom: 20px;
}

/* Estilos para el contenedor de cada gimnasio */
.gimnasio-item {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilos al pasar el cursor sobre cada gimnasio */
.gimnasio-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para la imagen del gimnasio */
.logo {
  width: 100%;
  height: 200px; /* Altura del 50% del contenedor */
  object-fit: fill; /* Ajusta la imagen para cubrir el contenedor */
  border-radius: 10px 10px 0 0;
}

/* Estilos para los detalles del gimnasio */
.details {
  padding: 15px;
  background-color: #f8f9fa; /* Fondo gris claro */
  border-radius: 0 0 10px 10px; /* Añade bordes redondeados solo en la parte inferior */
}

/* Estilos para los detalles del gimnasio: títulos */
.details h3 {
  margin-top: 0;
  font-size: 18px;
  color: #333; /* Color de texto más oscuro */
}

/* Estilos para los detalles del gimnasio: texto */
.details p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.search-container {
  position: relative;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.search-container input[type="text"]:focus {
  border-color: #5cb85c;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #aaa;
  cursor: pointer;
}

.search-icon i {
  font-size: 20px;
}

/* Animación para el icono de búsqueda */
.search-icon:hover {
  color: #555;
  transition: color 0.3s ease;
}