<app-navbar-rutina [gimnasioId]="idGimnasio"></app-navbar-rutina>
<div class="container">
  <div class="gimnasio-nombre">
    <h1>{{ nombreGimnasio }}</h1>
  </div>
<div class="container">
  <div class="salas" *ngIf="salas && salas.length > 0">
    <div *ngFor="let sala of salas" class="sala" (click)="seleccionarSala(sala.idSala)">
      <h3>{{ sala.nombre }}</h3>
      <button class="btn-eliminar" (click)="eliminarSala(sala.idSala, $event)" *ngIf="rol === ('ROLE_DUEÑO') || rol === ('ROLE_ADMIN')">
        <i class="fas fa-trash-alt"></i> Eliminar
      </button>
    </div>
  </div>
  <div *ngIf="!salas || salas.length === 0">
    <p>No hay salas disponibles.</p>
  </div>


  <ng-container *ngIf="usuarioRegistrado$ | async; else notRegistered">
    <app-calendario [idSalaSeleccionada]="idSalaSeleccionada"></app-calendario>

    <div class="horas-disponibles">
      <div *ngFor="let hora of horasDisponibles" class="hora">
        {{ hora.horaInicio | date: 'dd/MM HH:mm':'UTC' }} - {{ hora.horaFinal | date: 'dd/MM HH:mm':'UTC' }}

      </div>
    </div>

    <div *ngIf="actividades && actividades.length > 0" class="section">
      <h2>Actividades Programadas</h2>
      <div class="actividades">
        <div *ngFor="let actividad of actividades" class="actividad">
          <p>{{ actividad.nombre }} - {{ actividad.users.length-1 }}/{{ actividad.capacidad-1 }} personas registradas</p>
          <ul>
            <li *ngFor="let usuario of actividad.users">{{ usuario.username }}</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #notRegistered>
    <div class="not-registered">
      <p>No estás registrado en este gimnasio. Regístrate para acceder a las rutinas.</p>
    </div>
  </ng-template>
</div>